@page
@model CENG382_TERM_PROJECT.Pages.Admin.IndexModel
@{
    ViewData["Title"] = "Admin Panel";
    Layout = "_Layout";
}

<h2>Admin Panel</h2>

@if (Model.Username != null)
{
    <div class="alert alert-success" role="alert">
        Hoşgeldin, @Model.Username
    </div>
}

<div class="d-flex flex-wrap gap-3 mb-4">
    <a class="btn btn-primary" href="/Admin/UserManagement">Instructor İşlemleri</a>
    <a class="btn btn-info" asp-page="/Admin/TermManagement/Index">Term Yönetimi</a>
    <a class="btn btn-warning" asp-page="/Admin/ClassroomManagement/Index">Classroom Yönetimi</a>
</div>
