@page
@model CENG382_TERM_PROJECT.Pages.Admin.IndexModel
@{
    ViewData["Title"] = "Admin Panel";
    Layout = "_Layout";
}

<h2>Admin Panel</h2>

@if (Model.Username != null)
{
    <div class="alert alert-success" role="alert">
        Hoşgeldin, @Model.Username
    </div>
}
<a class="btn btn-primary" href="/Admin/UserManagement">Instructor İşlemleri</a>