@page
@model CENG382_TERM_PROJECT.Pages.Instructor.IndexModel
@{
    ViewData["Title"] = "Instructor Panel";
}

<h2>Instructor Panel</h2>

<p>Hoş geldin Instructor!</p>

<div class="d-flex gap-3 mt-4">
    <a class="btn btn-success" asp-page="/Instructor/ReservationManagement/Index">Rezervasyon Yönetimi</a>
    <a class="btn btn-primary" asp-page="/Instructor/Feedback/Index">Geri Bildirim Gönder</a> <!-- BUNU EKLE -->
</div>

